@use '../normalize';
@use 'var';
@use 'fonts';

*,
::before,
:after {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: gray;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min(20%, 150px) 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";

    .header {
        grid-area: header;
    }

    .sidebar {
        grid-area: sidebar;
        background-color: var.$sidebar-background;
        color: #fff;
        padding-left: 40px;
        ul {
            list-style-type: none;
            padding-left: 0px;
        }

        ul:last-child {
            margin-top: 30px;
        }

        ul, div {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }
    }

    .main {
        grid-area: main;
    }
}